* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.main {
    display: flex;
    font-family: "Helvetica", "Arial", sans-serif;
    width:100vw;
    height: 100vh;
    
}

.picture {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
  
    background-color: hsla(0, 100%, 100%, 0.55);
 }

.picture p{
    font-size: 25px;
    font-weight: bolder;
}

 img{
    height:100px;
 }

.left{
    background-image: url(./images/johannes-plenio-RwHv7LgeC7s-unsplash.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
  

   /* background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 40vw;*/
    flex-basis: 45vw;
    
}

.sign-up{
    flex-basis: 55vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 250, 220);
}

.info{
    padding: 80px 50px 20px 20px;
    font-size:18px;
    font-weight: bold;
}

.info p{
    margin-bottom: 20px;
}

.form-input-1{
    background-color: white;
    padding: 20px;
    box-shadow: 5px 5px 5px #777777;
}

h2{
    margin-bottom: 20px;
}

.form-input-2{
    display: flex;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 20px;

}

.form-row{
    display: flex;
    flex-direction: column;
}

input{
    width:200px;
    border-radius: 4px;
    height: 25px;
    width: 250px;
    margin-top: 8px;
    border: 1px solid grey;
    font-size: 18px;
}

.form-label{
    font-size: 12px;
}

button{
    margin: 20px;
    padding:8px  40px;
    color:white;
    background-color: rgb(223, 55, 55);
    border-radius: 8px;
    border:none;
}

.log-in{
    margin-left: 20px;  
}

a{
    text-decoration: none;
    color:rgb(223, 55, 55);
}





